form{
    max-width: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-self: center;
    padding: 40px;
    border: 1px solid #1d89e236;
    margin-top: 40px;
    border-radius: 8px;
    font-size: 20px;
    box-shadow: 0 0 20px 0 #1d89e236;
}
label{
    text-align: left;
    font-size: 22px;
    font-weight: 500;
}
input{
    margin-bottom: 16px;
    padding: 12px;
    border: 1px solid #1d89e2;
}
button{
    margin-top: 16px;
    font-size: 20px;
}
.error{
    background-color: #ff00004d;
    color: #ff0000;
    padding: 10px;
    margin-top: 10px;
}