<div class="loginpage comPadding text-center">
    <div class="container">
        <h2 class="comTitle">Login to RollOn</h2>
        <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
            <label for="username">Username:</label>
            <input
              type="text"
              id="username"
              name="username"
              [(ngModel)]="username"
              required
              minlength="4"
              #usernameRef="ngModel"
            />
            <div *ngIf="usernameRef.invalid && usernameRef.touched" class="error">
              <small *ngIf="usernameRef.errors?.['required']">Username is required.</small>
              <small *ngIf="usernameRef.errors?.['minlength']">Minimum 4 characters required.</small>
            </div>
          
            <label for="password">Password:</label>
            <input
              type="password"
              id="password"
              name="password"
              [(ngModel)]="password"
              required
              pattern=".{6,}"
              #passwordRef="ngModel"
            />
            <div *ngIf="passwordRef.invalid && passwordRef.touched" class="error">
              <small *ngIf="passwordRef.errors?.['required']">Password is required.</small>
              <small *ngIf="passwordRef.errors?.['pattern']">Minimum 6 characters required.</small>
            </div>
          
            <button type="submit" class="comButton">Login</button>
          <div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>
            
          </form>
    </div>
</div>