<!-- Banner sec start -->
<div class="bannerSec comPadding wow fadeIn" data-wow-delay="0.5s">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <div class="bannerTitle">
                    <span class="blueColor">Jai Hind Jai Bharat.</span><br />
                    RollOn hai to safar aasan hai – poore duniya mein, kahin bhi, kabhi bhi.
                </div>
                <div class="bannerDescription">
                    India’s first all-in-one roadside assistance platform – Find nearby tyre shops, garages, EV
                    charging/swapping stations, and more. Trusted by drivers, powered by a mission.
                </div>
            </div>
            <div class="col-sm-12 col-md-6">
                <div class="bannerImg">
                    <img src="images/bannerimg.jpg" alt="Secure Your Family’s Future - For Life and Beyond!" />
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Banner sec end -->
<!-- howitworks sec start -->
<div class="howitworks comPadding wow fadeInLeft" data-wow-delay="0.5s">
    <div class="container">
        <div class="howgrid">
            <div class="howcol">
                <div class="howtitle comTitle">Our Story & Process</div>
                <div class="howdescription">RollOn Mobility Pvt Ltd is a tech-seva startup born from rural India with a
                    mission to transform vehicle breakdown response, tyre replacement, and roadside support across the
                    country and beyond.</div>
                <img class="howiMg" loading="lazy" src="images/howitworks.png" alt="How it Works">
                <ul class="howsteps">
                    <li><span>1</span>Open the RollOn App</li>
                    <li><span>2</span>Choose Service You Need (Tyres / Garage / EV / Breakdown)</li>
                    <li><span>3</span>View Nearby Providers & Prices</li>
                    <li><span>4</span>Book or Call Directly</li>
                    <li><span>5</span>Get Back on the Road Safely</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- howitworks sec end -->

<!-- our feature sec start -->
<div class="ourFeature comPadding wow fadeInRight" data-wow-delay="0.5s">
    <div class="container">
        <div class="comTitle text-center">Our Services</div>
        <!-- <div class="smallTitle text-center">Take control of your family's future with eRoll on</div> -->
        <div class="featureBox">
            <div class="greyBox trans">
                <img src="images/vault.svg" alt="Information vault" />
                <div class="title blueColor">Nearby Tyre Shops </div>
                <!-- <div class="content">Compare prices & offers from top brands like Apollo, MRF, CEAT etc.</div> -->
            </div>
            <div class="greyBox trans">
                <img src="images/access.svg" alt="Multiple access" />
                <div class="title blueColor">Garages </div>
                <!-- <div class="content">Access verified garages across India instantly</div> -->
            </div>
            <div class="greyBox trans">
                <img src="images/template.svg" alt="Standardized templates" />
                <div class="title blueColor">EV Charging & Battery Swap Stations</div>
                <!-- <div class="content">Capturing information and reporting made easy</div> -->
            </div>
            <div class="greyBox trans">
                <img src="images/encryption.svg" alt="Advanced encryption" />
                <div class="title blueColor">Auto Parts & Tools Store Locator</div>
                <!-- <div class="content">Proper security protocols to keep your data safe</div> -->
            </div>
            <div class="greyBox trans">
                <img src="images/red-flag.svg" alt="Highlight red flags" />
                <div class="title blueColor">Emergency Roadside Breakdown Help</div>
                <!-- <div class="content">We suggest critical information that should be updated, without fail</div> -->
            </div>
            <div class="greyBox trans">
                <img src="images/assisstance.svg" alt="Friendly assistance" />
                <div class="title blueColor">Commission-free Driver Booking </div>
                <!-- <div class="content">Periodic reminders to update the information</div> -->
            </div>
        </div>
    </div>
</div>
<!-- our feature sec end -->

<!-- signu today sec start -->
<div class="signupToday comPadding wow fadeIn" data-wow-delay="0.5s">
    <div class="text-center container">
        <div class="comTitle">Our Mission</div>
        <div class="signupInfo">
            To build India’s most inclusive, accessible, and reliable vehicle assistance platform while empowering
            Persons with Disabilities (PWD) and boosting employment.
        </div>
        <div class="additionalInfo">
            A not-for-profit wing of RollOn Mobility Pvt Ltd.<br />
            dedicated to:
            <ul>
                <li>Empowering Persons with Disabilities (PWD)</li>
                <li>Free AI & Digital Education for PWD children in all cities</li>
                <li>60% Revenue donation model after success</li>
                <li>Employment creation through tech & service</li>
            </ul>
        </div>
    </div>
</div>
<!-- signu today sec end -->

<!-- foundation sec start -->
<div class="foundationSec comPadding wow fadeInLeft" data-wow-delay="0.5s">
    <div class="container">
        <div class="comTitle text-center">
            Join As Partner
            <div class="smallTitle text-center">If you are a</div>
        </div>
        <div class="foundationFlex">
            <div class="haldFoundationpart rightInfo">
                <div class="fInfo">
                    <div class="name">Tyre Dealer?</div>
                </div>
                <div class="fInfo">
                    <div class="name">Mechanic / Garage Owner?</div>
                </div>
                <div class="fInfo">
                    <div class="name">EV Charging Provider?</div>
                </div>
                <div class="fInfo">
                    <div class="name">Auto Parts Store?</div>
                </div>
            </div>
            <div class="joinRollon haldFoundationpart imgDiv">
                <div class="">Join RollOn today and grow your business with our trusted national network.
                    <br />
                    <a href="mailto:partner@rollonmobility.com">partner@rollonmobility.com</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- foundation sec end -->

<!-- faq section start -->
<section class="faqSec comPadding container">
    <div class="faqBox" *ngFor="let section of sections; let i = index">
        <div class="titleFaq" (click)="toggleSection(i)">
            {{ section.title }}
            <div class="iconFaq" *ngIf="activeSection === i"><img src="images/minus.svg" /></div>
            <div class="iconFaq" *ngIf="activeSection !== i"><img src="images/plus.svg" /></div>
        </div>
        <div class="contentFaq" *ngIf="activeSection === i">
            {{ section.content }}
        </div>
    </div>
</section>
<!-- faq sction end -->

<app-contact-form></app-contact-form>